extends layout

block body
  //include _header

  div(class="container hero")
    div(class="row")
      div(class="six columns")
        h5 SIS Import Status
        p
          strong Job ID: #{''}
          span(id="job") -
          br
          strong Created at: #{''}
          span(id="created") -
          br
          strong Progress: #{''}
          span(id="progress") -
        button(id="refresh-sis-status", class="sis") Refresh SIS Status

      div(class="six columns")
        h5 Canvas Status
        p
          strong Status: #{''}
          span(id="status") -
          br
          strong Level: #{''}
          span(id="level") -
          br
          strong Updated at: #{''}
          span(id="updated") -
        button(id="refresh-canvas-status", class="canvas") Refresh Canvas Status

    div(class="row")
      div(class="twelve columns")
        div(id="footer") Click the refresh buttons to get the latest data.

  include _footer